@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* form elements */
form {
    @apply max-w-screen-sm;
  }

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="date"], textarea, select {
    @apply text-sm p-[0.35rem] w-full mt-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm;
}

label {
    @apply text-sm;
}

table{
    @apply w-full border rounded-md mb-2;
}

.table-container {
    overflow-x: auto; /* Asegurarse de que la tabla sea responsive */
}

thead {
    @apply bg-gray-100;
}

tbody {
    @apply bg-white divide-y divide-gray-200;
}

/* Estilo para los th (cabecera de la tabla) */
th {
    
    /*font-size: 2rem; /* Más pequeño que text-xs */
    @apply px-2 py-3 border-b-2 text-sm border-gray-300 text-left text-blue-500;
}

/* Estilo para los td (filas de la tabla) */
td {
    
    /*font-size: 2rem; /* Más pequeño que text-xs */
    @apply px-2 py-2 text-xs text-left  text-pretty text-black;
}

.input-small {
    padding: 0.25rem;
    font-size: 0.75rem;
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px rgba(37, 99, 235, 0.5);
}

.label-small {
    font-size: 0.55rem;
}

.label-medium {
    font-size: 0.7rem;
}

body {
    @apply font-sans antialiased bg-gray-100 h-full;
  }
  h1, h2, h3 {
    @apply font-medium;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  ul {
    @apply my-10;
  }
  p {
    @apply my-2;
  }
  
  /* header */
  header {
    @apply bg-white;
  
    nav {
      @apply flex items-center gap-5 max-w-screen-lg px-12 py-4 mx-auto;
    }
    h1 {
      @apply mr-auto;
    }
  }
  
  
 
  
  /* custom classes */
  .container {
    @apply max-w-screen-lg mx-auto px-12 py-8;
  }
  .card {
    @apply bg-white rounded border border-gray-200 px-3 py-3 my-2 flex justify-between items-center; 
  }
  
  .buttons-container {
    @apply flex mt-2 items-center justify-end;
  }

  .highlight {
    @apply border-l-4 border-l-red-500;
  }
  .btn {
    @apply rounded px-3 py-2 bg-gray-200 hover:bg-red-500 hover:text-white;
  }